.theme-header { 
    display: none;
}

.theme-header .zpcontainer {
    position: relative;
    padding: 7px 15px;
}

.theme-mobile-header-fixed {
    border-bottom: 2px solid #ff931e;
}



/* #### Mobile Phones Portrait #### 
@media screen and (max-device-width: 480px) and (orientation: portrait)
{.theme-header .zpcontainer .theme-branding-info .theme-logo-parent a img {
    padding-left: 10px;
    padding-right: 10px;
}
}*/

.zpdark-section .darken-link a {
    color: black;
}

.zpbutton .promo-code-reveal a:hover {
  color: red;
}

.ecosystem-circle {
    margin-bottom: 60px;
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}

.calendly {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.calendlybutton {
  text-align: center;  
}
