#gradient-canvas {
  position: absolute;
  width: 100%;
  height: 100%;

  --gradient-color-1: #bcdcf9;
  --gradient-color-2: #6552a0;
  --gradient-color-3: #3e356e; /* #9680c2; */
  --gradient-color-4: #4852b3; /* #d5d5eb; */

  z-index: 0;

  mask-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.75, rgba(0, 0, 0, 0)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
}
