#gradient-canvas {
  position: absolute;
  width: 100%;
  height: 100%;

  --gradient-color-1: #ebf4f5;
  --gradient-color-2: #3e8fe6;
  --gradient-color-3: #b7d4ff;
  --gradient-color-4: #74b7ff;

  z-index: 0;

  mask-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.75, rgba(0, 0, 0, 0)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
}
